<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Đánh giá khách sạn tại Hà Nội</h1>
    <br>
    <br>
    <span class ="filter">
        Select category:
        <nav>
            <a href="{{url_for('sorted_index', district = 'all')}}">All</a>  |  
            <a href="{{url_for('sorted_index', district = 'Hoàn_Kiếm')}}">Q. Hoàn Kiếm</a>  |  
            <a href="{{url_for('sorted_index', district = 'Hai_Bà_Trưng')}}">Q. Hai Bà Trưng</a>  |  
            <a href="{{url_for('sorted_index', district = 'Cầu_Giấy')}}">Q. Cầu Giấy</a>  |  
            <a href="{{url_for('sorted_index', district = 'Đống_Đa')}}">Q. Đống Đa</a>  |  
            <a href="{{url_for('sorted_index', district = 'Tây_Hồ')}}">Q. Tây Hồ</a>  |  
            <a href="{{url_for('sorted_index', district = 'Hà_Đông')}}">Q. Hà Đông</a>  |  
            <a href="{{url_for('sorted_index', district = 'Từ_Liêm')}}">Q. Từ Liêm</a>  |  
            <a href="{{url_for('index')}}">Default</a>
        </nav>
    </span>
    <br>
    <br>
    <table>
        <tr>
            <th>Tên khách sạn</th>
            <th>Địa chỉ</th>
            <th>Điểm</th>
            <th>Số đánh giá</th>
        </tr>
        {% for hotel in hotels %}
            <tr>
                <td><a href= "{{url_for('details', id=hotel[0])}}">{{hotel[1]}}</a></td>
                <td>{{hotel[4]}}</td>
                <td>{{hotel[2]}}</td>
                <td>{{hotel[3]}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>